# Python e Pandas - Nozioni e operazioni base

**questo notebook è utile come riferimento *-cassetta degli attrezzi-* per le attività formative del DataLifeLab e per le esercitazioni in classe del corso di Open Notebook Science del dell'Università di Firenze**

## Python - nozioni base

* Assegnazione variabili, stampa e indentificazione tipo di dati della variabile
* tipi di dati
    * Numeri e operatori
    * Stringhe
    * Liste
    * Dictionari
    * Valori Booleani
    * Tuple 
    * Set
* Operatori di comparazione
* Condizioni (if, elif, else, try-except)
* Cicli For
* Cicli While
* range()
* list comprehension
* funzioni
* expressioni lambda
* metodi

## Python - operazioni su file

* aprire un file in lettura
* aprire un file in scrittura

## Pandas - nozioni base

* Importare correttamente la libreria
* Crare un DataFrame
* DataFrame e Serie
* Filtrare DataFrame e Serie
* Concatenazione e Merge
* Tabella Pivot
* Formato Wide e Long (melt)
* Applicare una funzione alle celle
* Aprire e creare un file
    * excel
    
## Pandas - funzioni statistiche di base

* Describe
* media 
* deviazione standard
* correlazione

## Pandas - grafici di base

# Python
## Assegnazione variabili, stampa e indentificazione tipo di dati della variabile

In [2]:
variabile = "qualsiasi cosa in python è un oggetto"

In [3]:
variabile

'qualsiasi cosa in python è un oggetto'

In [4]:
print(variabile)

qualsiasi cosa in python è un oggetto

In [5]:
type(variabile)

str

## tipi di dati

### Numeri

In [6]:
# interi
1

1

In [7]:
# numeri con virgola (float)
1.4

1.4

In [8]:
# operazioni
1 + 1

2

In [9]:
1 * 3

3

In [10]:
1 / 2

0.5

In [11]:
2 ** 4

16

In [12]:
# modulo o resto
4 % 2

0

In [13]:
5 % 2

1

In [14]:
(2 + 3) * (5 + 5)

50

## Stringhe

In [15]:
'testo compreso fra apostrofi'

'testo compreso fra apostrofi'

In [16]:
"virgolette"

'virgolette'

In [17]:
" testo che contiene apostrofi '   "

" testo che contiene apostrofi '   "

## Liste

In [18]:
[1,2,3]

[1, 2, 3]

In [19]:
['ciao',1,[1,2]]

['ciao', 1, [1, 2]]

In [20]:
la_mia_lista = ['a','b','c']

In [21]:
la_mia_lista.append('d')

In [22]:
la_mia_lista

['a', 'b', 'c', 'd']

In [23]:
la_mia_lista[0]

'a'

In [24]:
la_mia_lista[1]

'b'

In [25]:
la_mia_lista[1:]

['b', 'c', 'd']

In [26]:
la_mia_lista[:1]

['a']

In [27]:
la_mia_lista[0] = "modifico l'elemento zero"

In [28]:
la_mia_lista

["modifico l'elemento zero", 'b', 'c', 'd']

In [29]:
lista_nested = [1,2,3,[4,5,['secondo livello del terzo elemento']]]

In [30]:
lista_nested

[1, 2, 3, [4, 5, ['secondo livello del terzo elemento']]]

In [31]:
lista_nested[3]

[4, 5, ['secondo livello del terzo elemento']]

In [32]:
lista_nested[3][2]

['secondo livello del terzo elemento']

## Dizionari

In [33]:
d = {'chiave1':'elemento1','chiave2':'elemento2'}

In [34]:
d

{'chiave1': 'elemento1', 'chiave2': 'elemento2'}

In [35]:
d['chiave1']

'elemento1'

In [36]:
d.keys()

dict_keys(['chiave1', 'chiave2'])

## Valori Booleani

In [37]:
True

True

In [38]:
False

False

In [39]:
## Turple

In [40]:
t = (1,2,3)

In [41]:
t[0]

1

In [42]:
# t[0] = 'NEW'
# TypeError: 'tuple' object does not support item assignment

In [43]:
## Sets

In [44]:
{1,2,3}

{1, 2, 3}

In [45]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Operatori di comparazione

In [46]:
1 > 2

False

In [47]:
1 < 2

True

In [48]:
1 >= 1

True

In [49]:
1 <= 4

True

In [50]:
1 == 1

True

In [51]:
'hi' == 'bye'

False

## Operatori Logici

In [52]:
(1 > 2) and (2 < 3)

False

In [53]:
(1 > 2) or (2 < 3)

True

In [54]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [55]:
#Gestione eccezioni

In [56]:
if 1 < 2:
    print('bene!')

bene!

In [57]:
if 1 < 2:
    print('bene')
else:
    print('altrimenti')

bene

In [58]:
if 1 > 2:
    print('bene')
else:
    print('altrimenti')

altrimenti

In [59]:
if 1 == 2:
    print('primo')
elif 3 == 3:
    print('intermedio')
else:
    print('ultimo')

intermedio

In [60]:
try:
    print("10")
except:
    print("fai qualcosa in caso di errore")

10

In [61]:
#print(int("mamma"))
#ValueError: invalid literal for int() with base 10: 'mamma'

In [62]:
try:
    print(int("mamma"))
except:
    print("fai qualcosa in caso di errore")

fai qualcosa in caso di errore

## Cicli Loop

In [63]:
seq = [1,2,3,4,5]

In [64]:
for item in seq:
    print(item)

1
2
3
4
5

In [65]:
for item in seq:
    print('Bene!')

Bene!
Bene!
Bene!
Bene!
Bene!

In [66]:
for nome_a_caso in seq:
    print(nome_a_caso+nome_a_caso)

2
4
6
8
10

In [67]:
## Ciclo while

In [68]:
i = 1
while i < 10:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5
i is: 6
i is: 7
i is: 8
i is: 9

In [69]:
## range()

In [70]:
range(10)

range(0, 10)

In [71]:
for i in range(5):
    print(i)

0
1
2
3
4

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

## Metodi

In [73]:
st = 'Marco saluta il Mondo'

In [74]:
# lista di metodi e attributi
dir(st)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [75]:
st.lower()

'marco saluta il mondo'

In [76]:
st.upper()

'MARCO SALUTA IL MONDO'

In [77]:
st.split()

['Marco', 'saluta', 'il', 'Mondo']

In [78]:
post = 'si parla di scienza! #DataLifeLab'

In [79]:
post.split('#')

['si parla di scienza! ', 'DataLifeLab']

In [80]:
post.split('#')[1]

'DataLifeLab'

In [81]:
d

{'chiave1': 'elemento1', 'chiave2': 'elemento2'}

In [82]:
d.keys()

dict_keys(['chiave1', 'chiave2'])

In [83]:
d.items()

dict_items([('chiave1', 'elemento1'), ('chiave2', 'elemento2')])

In [84]:
'x' in [1,2,3]

False

In [85]:
'x' in ['x','y','z']

True

# Operazioni su file

In [86]:
# aprire un file di testo in sola lettura
# il file si trova nella cartella Esercizio_1 all'interno della cartella esercizi e il nome del file è albert.txt
with open("./esercizi/Esercizio_1/albert.txt" , "r") as miofile:
    contenuto_mio_file = miofile.read()
    
print(contenuto_mio_file)

## deve essere raccolta ogni informazione ed inserita in un dizionario python

Albert Einstein è stato un fisico e filosofo tedesco naturalizzato svizzero e statunitense. Oltre a essere uno dei più celebri fisici della storia della scienza, che mutò in maniera radicale il paradigma ... Wikipedia
Nascita: 14 marzo 1879, Ulma, Germania
Decesso: 18 aprile 1955, Princeton, New Jersey, Stati Uniti
Altezza: 1,75 m
Figli: Eduard Einstein, Hans Albert Einstein, Lieserl Einstein
Coniuge: Elsa Einstein (s. 1919–1936), Mileva Marić (s. 1903–1919)

In [87]:
# aprire un file di testo in scrittura
# il file si trova nella cartella Esercizio_2 all'interno della cartella esercizi e il nome del file è Luigino.txt

contenuto = '''
Luigino è stato uno dei più grandi artisti lirici della storia di San Marino   
Nascita: 14 marzo 1945, San Marino, San Marino.
Decesso: 18 aprile 2015, San Marino, San Marino.
Altezza: 1,75 m
Peso: 205 KG

'''

with open("./esercizi/Esercizio_2/Luigino.txt", "w") as miofile:
    contenuto_mio_file = miofile.write(contenuto)

## Funzioni

In [88]:
def mia_funzione(parametro='default'):
    """
    documentazione della funzione va qui.
    """
    return(parametro)

In [89]:
mia_funzione

In [90]:
mia_funzione()

'default'

In [91]:
mia_funzione("marco")

'marco'

In [92]:
def area_triangolo(base, altezza):
    return base * altezza / 2

In [93]:
area_triangolo(10,15)

75.0

In [94]:
## Espressioni Lambda

In [95]:
def la_variabile_per_2(var):
    return var*2

In [96]:
la_variabile_per_2(10)

20

In [97]:
a = lambda var: var*2

In [98]:
a(10)

20

# Pandas - nozioni base

In [99]:
import numpy as np
import pandas as pd


#costruzione di un dataframe
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,800,1200,444],'col3':['abc','abc','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   800  abc
2     3  1200  ghi
3     4   444  xyz

!["DataFrame"](https://www.kdnuggets.com/wp-content/uploads/pandas-02.png "DataFrame")

In [100]:
## filtrare i dati con **loc**

In [101]:
# filtrare passando i valori di indice e colonna
df.loc[3,"col3"]

'xyz'

In [102]:
df.loc[2,["col2", "col3"]]

col2    1200
col3     ghi
Name: 2, dtype: object

In [103]:
df.loc[[2,1],["col2", "col3"]]

   col2 col3
2  1200  ghi
1   800  abc

In [104]:
(df['col2']==444) # filtrare passando un vettore boleano

0     True
1    False
2    False
3     True
Name: col2, dtype: bool

In [105]:
df.loc[(df['col1']>3) & (df['col2']==444), :]

   col1  col2 col3
3     4   444  xyz

In [106]:
#oppure
filtro1 = df['col1']>2
filtro2 = df['col2']==444

df.loc[filtro1 & filtro2, :]

   col1  col2 col3
3     4   444  xyz

In [107]:
df.loc[(df['col1']>2) | (df['col2']==444), :]

   col1  col2 col3
0     1   444  abc
2     3  1200  ghi
3     4   444  xyz

In [108]:
# assegnazione di valori

In [109]:
#assegnazione ad un intera riga
df.loc[(df['col1']>2) & (df['col2']==444), :] = 10 
df

   col1  col2 col3
0     1   444  abc
1     2   800  abc
2     3  1200  ghi
3    10    10   10

In [118]:
#certe volte può essere utile filtrare "stile battaglia navale", passando per il numero di riga e di colonna 
# questo si può fare con iloc
df.iloc[0:1,1:3] #prendo la seconda e terza colonna e la prima riga (indipendentemente dal valore del'indice)

   col2 col3
0   444  abc

In [ ]:
## Operazioni fra colonne e righe
# creazione di una nuova colonna

nuova_colonna = df["col1"] + df["col2"]

In [ ]:
df["nuova_colonna"] = nuova_colonna
df

In [ ]:
#sommare interi con stringa porta ad errore
#df["col1"] + df["col3"]
#TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
df[["col1", "col2", "nuova_colonna"]].div(df["nuova_colonna"], axis = 0) * 100

In [ ]:
#per approfondire https://pandas.pydata.org/pandas-docs/stable/api.html#id4

In [ ]:
altezze = pd.DataFrame({'Nome':["Marco","Luigi","Nino","Ugo", "Marino" ],'Altezza':[175,173,178,182,160]})
pesi = pd.DataFrame({'Nome':["Marco","Luigi","Vittorio","Ugo", "Marino" ],'Peso':[75,70,100,97,50]})

In [ ]:
#concatenazione verticale
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html
pd.concat([altezze, pesi])

In [ ]:
#concatenazione orizzonate

pd.concat([altezze, pesi], axis = 1)

## i dati sono disallineati

In [ ]:
# join dei dati
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
pd.merge(altezze, pesi, how = "outer", left_on = "Nome", right_on = "Nome")

In [ ]:
# aggiunto Gabriele e la sua altezza
altezze = altezze.append([{"Nome": "Gabriele", "Altezza": 213}], )

In [ ]:
pd.merge(altezze, pesi, how = "right", left_on = "Nome", right_on = "Nome")

In [ ]:
pd.merge(altezze, pesi, how = "left", left_on = "Nome", right_on = "Nome")

In [ ]:
# da formato wide a long
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html
wide = pd.merge(altezze, pesi, how = "left", left_on = "Nome", right_on = "Nome")

In [ ]:
#calcolo un indice di massa corporea
wide["Imc"] =  wide["Peso"] / (wide["Altezza"] / 100) ** 2

In [ ]:
wide

In [ ]:
long = pd.melt(wide, id_vars = "Nome", 
               value_vars=['Altezza', 'Peso', "Imc"], 
               var_name='Variabile', 
               value_name= "Valori")

In [ ]:
long

In [ ]:
# tabella pivot
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html
pd.pivot_table(long, values = "Valori",
               index = "Variabile",
               aggfunc = np.mean)

In [ ]:
#operazioni di riga e di cella

wide.loc[:, ["Altezza", "Peso"]].apply(np.mean, axis = 0) # asse 0, vuol dire esegue l'operazione per colonna, asse 1 vuol dire per riga

In [ ]:
# operazione lambda
def recode_altezza(altezza):
    if altezza >= 185:
        return "Alto"
    elif altezza < 185 and altezza > 165:
        return "Medio"
    else:
        return "Basso"

wide["Altezza"].apply(recode_altezza)

In [ ]:
wide.loc[:, ["Altezza", "Peso"]].applymap(lambda cella: str(cella) + "_ciao")

In [ ]:
#Da long a wide
long.pivot(index='Nome', columns='Variabile', values='Valori')

# Creare o aprire file excel

In [ ]:
#Creare un file excel
long.to_excel("excel_di_exempio.xlsx")

In [ ]:
#Leggere un file excel
pd.read_excel("excel_di_exempio.xlsx")

In [ ]:
# Creare un file excel con più tab
writer = pd.ExcelWriter('excel_di_esempio2.xlsx')
long.loc[long["Variabile"] == "Altezza"].to_excel(writer,'Altezza')
long.loc[long["Variabile"] == "Peso"].to_excel(writer,'Peso')
long.loc[long["Variabile"] == "Imc"].to_excel(writer,'Imc')
writer.save()

In [ ]:
# Leggere un file excel con più tab
tab_multiple = pd.read_excel('excel_di_esempio2.xlsx', sheetname = None)
tab_multiple

In [ ]:
# accedere ad una tab
tab_multiple["Altezza"]

## Pandas - funzioni statistiche

In [ ]:
wide.describe()

In [ ]:
# media
wide["Altezza"].mean()

In [ ]:
# deviazione standard # indice di dispersione
wide["Altezza"].std()

In [ ]:
# correlazione
wide.corr()

![](https://www.kdnuggets.com/wp-content/uploads/pandas-08.png "alcune stats")

In [ ]:
# iterazione con lambda per eseguire operazioni complesse fra colonne

wide.apply(lambda x: (x['Altezza'] / x["Peso"]) , axis=1)

In [ ]:
# iterazione classica sui dati di un dataframe di pandas
#Può essere molto utile quando si deve eseguire calcoli che è difficile rappresentare in lambda e si vuole adoperare (difetto principale: richiede maggiore tempo di esecuzione)

for i, v in wide.items(): # qui prendo indice e valori
    print(i, v)

In [ ]:
# iterazione classica sui dati di una serie di pandas
for i, v in wide["Altezza"].items(): # qui prendo indice e valori
    print(i, v)

## Pandas - grafici di base

In [ ]:
serie_dati = {"Italia": {2010: 35, 2011: 30, 2012: 25}, "Spagna": {2010: 25, 2011: 27, 2012: 34}}

In [ ]:
df_serie_dati = pd.DataFrame(serie_dati)

In [ ]:
df_serie_dati

In [ ]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt

In [ ]:
df_serie_dati.plot(kind = "line", grid = True, rot=45, figsize = (10,5))

In [ ]:
df_serie_dati.index = pd.to_datetime(df_serie_dati.index, format="%Y")

In [ ]:
df_serie_dati

In [ ]:
df_serie_dati.plot(kind = "line", grid = True, rot=45, figsize = (10,5))

In [ ]:
Altezza = tab_multiple["Altezza"]

In [ ]:
Altezza

In [ ]:
Altezza.plot(y= "Valori", kind = "box", grid = True, rot=45, figsize = (10,5))

In [ ]:
Altezza.plot(x="Nome", y= "Valori", kind = "bar", grid = True, rot=45, figsize = (10,5))

In [ ]:
ax = Altezza.plot(x="Nome", y= "Valori", kind = "bar", grid = True, rot=45, figsize = (10,5))
ax.set_ylabel('Infant mort. rate')
ax.set_xlabel('Country')
for riga in range(Altezza.shape[0]):
    ax.annotate(Altezza["Valori"][riga],
             (Altezza.index[riga], Altezza["Valori"][riga]),
             xytext=(15, 15), 
             textcoords='offset points',
             arrowprops=dict(arrowstyle='-|>'))
plt.show()