# Python e Pandas - Nozioni e operazioni base

**questo notebook è utile come riferimento *-cassetta degli attrezzi-* per le attività formative del DataLifeLab e per le esercitazioni in classe del corso di Open Notebook Science del dell'Università di Firenze**

## Python - nozioni base

* Assegnazione variabili, stampa e indentificazione tipo di dati della variabile
* tipi di dati
    * Numeri e operatori
    * Stringe
    * Liste
    * Dictionari
    * Valori Booleani
    * Tuple 
    * Set
* Operatori di comparazione
* Condizioni (if, elif, else, try-except)
* Cicli For
* Cicli While
* range()
* list comprehension
* funzioni
* expressioni lambda
* metodi

## Pandas - nozioni base

* Importare correttamente la libreria
* Crare un DataFrame
* DataFrame e Serie
* Filtrare DataFrame e Serie
* Applicare una funzione alle celle
* Aprire un file
    * csv 
    * excel

# Python
## Assegnazione variabili, stampa e indentificazione tipo di dati della variabile

In [43]:
variabile = "qualsiasi cosa in python è un oggetto"

In [44]:
variabile

'qualsiasi cosa in python è un oggetto'

In [45]:
print(variabile)

qualsiasi cosa in python è un oggetto

In [46]:
type(variabile)

str

## tipi di dati

### Numeri

In [47]:
# interi
1

1

In [48]:
# numeri con virgola (float)
1.4

1.4

In [49]:
# operazioni
1 + 1

2

In [50]:
1 * 3

3

In [51]:
1 / 2

0.5

In [52]:
2 ** 4

16

In [53]:
# modulo o resto
4 % 2

0

In [54]:
5 % 2

1

In [55]:
(2 + 3) * (5 + 5)

50

## Stringhe

In [56]:
'testo compreso fra apostrofi'

'testo compreso fra apostrofi'

In [57]:
"virgolette"

'virgolette'

In [58]:
" testo che contiene apostrofi '   "

" testo che contiene apostrofi '   "

## Liste

In [59]:
[1,2,3]

[1, 2, 3]

In [60]:
['ciao',1,[1,2]]

['ciao', 1, [1, 2]]

In [61]:
la_mia_lista = ['a','b','c']

In [62]:
la_mia_lista.append('d')

In [63]:
la_mia_lista

['a', 'b', 'c', 'd']

In [64]:
la_mia_lista[0]

'a'

In [65]:
la_mia_lista[1]

'b'

In [66]:
la_mia_lista[1:]

['b', 'c', 'd']

In [67]:
la_mia_lista[:1]

['a']

In [68]:
la_mia_lista[0] = "modifico l'elemento zero"

In [69]:
la_mia_lista

["modifico l'elemento zero", 'b', 'c', 'd']

In [70]:
lista_nested = [1,2,3,[4,5,['secondo livello del terzo elemento']]]

In [71]:
lista_nested

[1, 2, 3, [4, 5, ['secondo livello del terzo elemento']]]

In [72]:
lista_nested[3]

[4, 5, ['secondo livello del terzo elemento']]

In [73]:
lista_nested[3][2]

['secondo livello del terzo elemento']

## Dizionari

In [74]:
d = {'chiave1':'elemento1','chiave2':'elemento2'}

In [75]:
d

{'chiave1': 'elemento1', 'chiave2': 'elemento2'}

In [76]:
d['chiave1']

'elemento1'

In [77]:
d.keys()

dict_keys(['chiave1', 'chiave2'])

## Valori Booleani

In [78]:
True

True

In [79]:
False

False

In [80]:
## Turple

In [81]:
t = (1,2,3)

In [82]:
t[0]

1

In [84]:
# t[0] = 'NEW'
# TypeError: 'tuple' object does not support item assignment

In [85]:
## Sets

In [86]:
{1,2,3}

{1, 2, 3}

In [87]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Operatori di comparazione

In [88]:
1 > 2

False

In [89]:
1 < 2

True

In [90]:
1 >= 1

True

In [91]:
1 <= 4

True

In [92]:
1 == 1

True

In [93]:
'hi' == 'bye'

False

## Operatori Logici

In [94]:
(1 > 2) and (2 < 3)

False

In [95]:
(1 > 2) or (2 < 3)

True

In [96]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [97]:
Gestione eccezioni

SyntaxError: invalid syntax (<ipython-input-97-0d9c8b8fbb99>, line 1)

In [98]:
if 1 < 2:
    print('bene!')

bene!

In [99]:
if 1 < 2:
    print('bene')
else:
    print('altrimenti')

bene

In [100]:
if 1 > 2:
    print('bene')
else:
    print('altrimenti')

altrimenti

In [101]:
if 1 == 2:
    print('primo')
elif 3 == 3:
    print('intermedio')
else:
    print('ultimo')

intermedio

In [102]:
try:
    print("10")
except:
    print("fai qualcosa in caso di errore")

10

In [105]:
#print(int("mamma"))
#ValueError: invalid literal for int() with base 10: 'mamma'

In [106]:
try:
    print(int("mamma"))
except:
    print("fai qualcosa in caso di errore")

fai qualcosa in caso di errore

## Cicli Loop

In [107]:
seq = [1,2,3,4,5]

In [108]:
for item in seq:
    print(item)

1
2
3
4
5

In [109]:
for item in seq:
    print('Bene!')

Bene!
Bene!
Bene!
Bene!
Bene!

In [110]:
for nome_a_caso in seq:
    print(nome_a_caso+nome_a_caso)

2
4
6
8
10

In [111]:
## Ciclo while

In [112]:
i = 1
while i < 10:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5
i is: 6
i is: 7
i is: 8
i is: 9

In [113]:
## range()

In [114]:
range(10)

range(0, 10)

In [115]:
for i in range(5):
    print(i)

0
1
2
3
4

In [116]:
list(range(5))

[0, 1, 2, 3, 4]

## Funzioni

In [117]:
def mia_funzione(parametro='default'):
    """
    documentazione della funzione va qui.
    """
    return(parametro)

In [118]:
mia_funzione

In [119]:
mia_funzione()

'default'

In [120]:
mia_funzione("marco")

'marco'

In [121]:
def area_triangolo(base, altezza):
    return base * altezza / 2

In [122]:
area_triangolo(10,15)

75.0

In [123]:
## Espressioni Lambda

In [124]:
def la_variabile_per_2(var):
    return var*2

In [125]:
la_variabile_per_2(10)

20

In [126]:
a = lambda var: var*2

In [127]:
a(10)

20

## Metodi

In [128]:
st = 'Marco saluta il Mondo'

In [129]:
# lista di metodi e attributi
dir(st)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [130]:
st.lower()

'marco saluta il mondo'

In [131]:
st.upper()

'MARCO SALUTA IL MONDO'

In [132]:
st.split()

['Marco', 'saluta', 'il', 'Mondo']

In [133]:
post = 'si parla di scienza! #DataLifeLab'

In [134]:
post.split('#')

['si parla di scienza! ', 'DataLifeLab']

In [135]:
post.split('#')[1]

'DataLifeLab'

In [136]:
d

{'chiave1': 'elemento1', 'chiave2': 'elemento2'}

In [137]:
d.keys()

dict_keys(['chiave1', 'chiave2'])

In [138]:
d.items()

dict_items([('chiave1', 'elemento1'), ('chiave2', 'elemento2')])

In [139]:
'x' in [1,2,3]

False

In [140]:
'x' in ['x','y','z']

True

# Pandas

In [218]:
import pandas as pd

#costruzione di un dataframe
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,800,1200,444],'col3':['abc','abc','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   800  abc
2     3  1200  ghi
3     4   444  xyz

In [219]:
## filtrare i dati con **loc**

In [220]:
# filtrare passando i valori di indice e colonna
df.loc[3,"col3"]

'xyz'

In [221]:
df.loc[2,["col2", "col3"]]

col2    1200
col3     ghi
Name: 2, dtype: object

In [222]:
df.loc[[2,1],["col2", "col3"]]

   col2 col3
2  1200  ghi
1   800  abc

In [223]:
(df['col2']==444) # filtrare passando un vettore boleano

0     True
1    False
2    False
3     True
Name: col2, dtype: bool

In [224]:
df.loc[(df['col1']>3) & (df['col2']==444), :]

   col1  col2 col3
3     4   444  xyz

In [225]:
#oppure
filtro1 = df['col1']>2
filtro2 = df['col2']==444

df.loc[filtro1 & filtro2, :]

   col1  col2 col3
3     4   444  xyz

In [226]:
df.loc[(df['col1']>2) | (df['col2']==444), :]

   col1  col2 col3
0     1   444  abc
2     3  1200  ghi
3     4   444  xyz

In [227]:
# assegnazione di valori

In [228]:
#assegnazione ad un intera riga
df.loc[(df['col1']>2) & (df['col2']==444), :] = 10 
df

   col1  col2 col3
0     1   444  abc
1     2   800  abc
2     3  1200  ghi
3    10    10   10

In [229]:
## Operazioni fra colonne e righe
# creazione di una nuova colonna

nuova_colonna = df["col1"] + df["col2"]

In [205]:
df["nuova_colonna"] = nuova_colonna
df

   col1  col2 col3  nuova_colonna
0     1   444  abc            445
1     2   800  abc            802
2     3  1200  ghi           1203
3    10    10   10             20

In [206]:
#sommare interi con stringa porta ad errore
#df["col1"] + df["col3"]
#TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [207]:
df[["col1", "col2", "nuova_colonna"]].div(df["nuova_colonna"], axis = 0) * 100

        col1       col2  nuova_colonna
0   0.224719  99.775281          100.0
1   0.249377  99.750623          100.0
2   0.249377  99.750623          100.0
3  50.000000  50.000000          100.0

In [179]:
#per approfondire https://pandas.pydata.org/pandas-docs/stable/api.html#id4

In [230]:
altezze = pd.DataFrame({'Nome':["Marco","Luigi","Nino","Ugo", "Marino" ],'Altezza':[175,173,178,182,160]})
pesi = pd.DataFrame({'Nome':["Marco","Luigi","Vittorio","Ugo", "Marino" ],'Peso':[75,70,100,97,50]})

In [231]:
#concatenazione verticale
pd.concat([altezze, pesi])

   Altezza      Nome   Peso
0    175.0     Marco    NaN
1    173.0     Luigi    NaN
2    178.0      Nino    NaN
3    182.0       Ugo    NaN
4    160.0    Marino    NaN
0      NaN     Marco   75.0
1      NaN     Luigi   70.0
2      NaN  Vittorio  100.0
3      NaN       Ugo   97.0
4      NaN    Marino   50.0

In [232]:
#concatenazione orizzonate
pd.concat([altezze, pesi], axis = 1)

## i dati sono disallineati

   Altezza    Nome      Nome  Peso
0      175   Marco     Marco    75
1      173   Luigi     Luigi    70
2      178    Nino  Vittorio   100
3      182     Ugo       Ugo    97
4      160  Marino    Marino    50

In [233]:
# join dei dati
pd.merge(altezze, pesi, how = "outer", left_on = "Nome", right_on = "Nome")

   Altezza      Nome   Peso
0    175.0     Marco   75.0
1    173.0     Luigi   70.0
2    178.0      Nino    NaN
3    182.0       Ugo   97.0
4    160.0    Marino   50.0
5      NaN  Vittorio  100.0

In [249]:
# aggiunto Gabriele e la sua altezza
altezze = altezze.append([{"Nome": "Gabriele", "Altezza": 213}], )

In [250]:
pd.merge(altezze, pesi, how = "right", left_on = "Nome", right_on = "Nome")

   Altezza      Nome  Peso
0    175.0     Marco    75
1    173.0     Luigi    70
2    182.0       Ugo    97
3    160.0    Marino    50
4      NaN  Vittorio   100

In [251]:
pd.merge(altezze, pesi, how = "left", left_on = "Nome", right_on = "Nome")

   Altezza      Nome  Peso
0      175     Marco  75.0
1      173     Luigi  70.0
2      178      Nino   NaN
3      182       Ugo  97.0
4      160    Marino  50.0
5      213  Gabriele   NaN

In [252]:
# COMPITO: CALCOLA L'INDICE DI MASSA CORPOREA DEI NOSTRI CASI
# con due formule differenti
#"https://it.wikipedia.org/wiki/Peso_forma"